.navbar {
    border-radius: 0;
}

.navbar-default {
    background-color: #CC181E;
    border: none;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
    color: #000000;
}

.navbar-brand {
    font-weight: bold;
    font-size: 26px;
}

#searchbox {
    width: 200px;
}

#left-col {
    height: 550px;
    overflow: auto;
}

#right-col {
    height: 100%;
    min-height: 100%;
}

#map {
    height: 550px;
    width: 100%;
}

.footer {
    bottom: 0;
    background-color: #CC181E;
    color: #FFFFFF;
    font-size: 12px;
    height: 40px; /* Set the fixed height of the footer here */
    padding-top: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
}