{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4" id="left-col">
        <p>
          Click anywhere on the map to see what videos are trending in your country! Be up to date and aware of what's happening.
        </p>

        <div class="list-group">
          <a href="https://www.youtube.com/watch?v=JMEEdFz0d7Q" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/JMEEdFz0d7Q/hqdefault.jpg?custom=true&w=320&h=180&stc=true&jpg444=true&jpgq=90&sp=68&sigh=gneAN3ppvUzo3sh-hXYJVSTk8YQ" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h6 class="media-heading">First Lady Michelle Obama Carpool Karaoke</h6>
                ...
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=JMEEdFz0d7Q" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/JMEEdFz0d7Q/hqdefault.jpg?custom=true&w=320&h=180&stc=true&jpg444=true&jpgq=90&sp=68&sigh=gneAN3ppvUzo3sh-hXYJVSTk8YQ" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h6 class="media-heading">First Lady Michelle Obama Carpool Karaoke</h6>
                ...
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-8" id="right-col">
        <div id="map"></div>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container-fluid -->

  <!-- Google Maps API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>
  <script src="/static/js/map.js"></script>
{% endblock %}