{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4" id="left-col">
        <!-- <p>
          Click anywhere on the map to see what videos are trending in your country! Be up to date and aware of what's happening.
        </p> -->
        <h3>Top 10 Videos in United States</h3>

        <div class="list-group">
          <a href="https://www.youtube.com/watch?v=mNiqpBNE9ik" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/mNiqpBNE9ik/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Jon Stewart Takes Over Colbert's Late Show Desk</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=5lGoQhFb4NM" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/5lGoQhFb4NM/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">WONDER WOMAN Comic-Con Trailer</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=SmUz88zoIg0" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/SmUz88zoIg0/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">The Walking Dead: Season 7 Comic-Con 2016 Official Trailer</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=8Wsb4b8CjRs" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/8Wsb4b8CjRs/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Game of Thrones Season 6: Blooper Reel (HBO)</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=hFDHryC6Vwg" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/hFDHryC6Vwg/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Wheel of Musical Impressions with Celine Dion</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=96Y8f13WBAE" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/96Y8f13WBAE/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">South Park: We've been there</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=eiY7LteJhz8" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/eiY7LteJhz8/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">8 Simple Dollar Store Hacks To Save You Money</h4>
                
              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=O5sQbEklngA" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/O5sQbEklngA/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Obi-Wan would have told you long ago had I let him</h4>

              </div>
            </div>
          </a>
          <a href="https://www.youtube.com/watch?v=girSv9UH_V8" class="list-group-item popup-link">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="https://i.ytimg.com/vi/girSv9UH_V8/default.jpg" style="width: 100px;" alt="Video">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Blair Witch (2016 Movie) - Official Trailer</h4>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-8" id="right-col">
        <div id="map"></div>
      </div>

    </div><!-- /.row -->

  </div><!-- /.container-fluid -->

  <!-- Google Maps API -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>
  <script src="/static/js/map.js"></script>
{% endblock %}